%h1 Listing trips

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Target goal
      %th
      %th
      %th

  %tbody
    = @trips.each do |trip|
      %tr
        %td= trip.title
        %td= trip.description
        %td= trip.target_goal
        %td= link_to 'Show', trip
        %td= link_to 'Edit', edit_trip_path(trip)
        %td= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' }
%br

= link_to 'New Trip', new_trip_path
